.git
.gitignore

backend/.env
frontend/.env
.env

backend/__pycache__
**/__pycache__
*.pyc

frontend/node_modules
node_modules

frontend/dist

backend/uploads
uploads

backend/logs
logs

backend/instance
instance

*.log